.about-section {
  position: relative;
  background: $colorBackground;
  padding: 100px 0;

  .about-image {
    .about-me {
      position: relative;
      .img {
        border-radius: 50%;
        max-width: 356px;
        max-height: 358px;
        margin: auto;
        overflow: hidden;
        border: 5px solid $colorWhite;
      }
    }
  }

  .about-info {
    margin-left: auto;

    .about-text {
      p {
        color: $colorGray;
      }
    }

    .about-content {
      flex: 0 0 100%;
      max-width: 100%;
      padding-top: 30px;

      .col-6 {
        flex: 0 0 auto;
        width: 50%;

        ul {
          li {
            padding: 4px 0;

            label {
              color: $colorWhite;
              margin: 0;
              font-weight: 500;
              padding-right: 10px;
            }

            span {
              color: $colorGray;
            }
          }
        }
      }
    }
  }

  .separated {
    padding-top: 80px;
    padding-bottom: 80px;
    background-repeat: repeat-x !important;
    background-size: auto 6px !important;
    background-position: 50% !important;
    filter: invert(1);
  }

  .service-items {
    padding: 15px 15px 15px 0;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
    display: flex;

    &:last-child {
      padding-right: 0;
    }

    .service-item {
      width: 100%;
      background-color: $colorBlack;
      padding: 30px 15px;
      border-radius: 4px;
      text-align: center;
      border-radius: 1pxsolid $colorGray;
      transition: all 0.3s ease;

      .icon {
        width: 60px;
        height: 60px;
        display: block;
        margin: 0 auto 1rem;
        text-align: center;
        transition: all 0.3s ease;
        border-radius: 50%;

        .icons {
          font-size: 40px;
          line-height: 60px;
          transition: all 0.3s ease;
        }
      }

      h4 {
        font-size: 18px;
        margin-bottom: 15px;
        color: $colorBlue;
        font-weight: 700;
        text-transform: capitalize;
      }

      p {
        font-size: 16px;
        color: $colorGray;
        line-height: 25px;
        margin: 0;
      }
    }
  }

  .skills {
    margin-top: 40px;
    flex: 0 0 40%;
    max-width: 40%;

    .skill-item {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 20px;

      h5 {
        line-height: 40px;
        font-weight: 600;
        font-size: 16px;
        color: var(--clr-heading);
        text-transform: capitalize;
        margin: 0;
      }

      .progress-bar {
        background-color: #e3e3e3;
        height: 8px;
        border-radius: 4px;
        width: 100%;
        position: relative;

        .progress-in {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          border-radius: 4px;
        }
      }

      .skill-per {
        line-height: 40px;
        position: absolute;
        right: 0;
        top: -40px;
        color: var(--clr-heading);
        font-weight: 400;
      }
    }
  }

  .education,
  .experience {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
  }

  .box-timeline {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .timeline {
    background-color: var(--bg-light);
    padding: 30px 15px;
    border: 1px solid var(--border-dark);
    border-radius: 4px;
    width: 100%;

    .timeline-item {
      position: relative;
      padding: 0 0 50px 35px;

      &:last-child {
        padding-bottom: 0;
      }

      &::before {
        position: absolute;
        content: "";
        width: 1px;
        height: 100%;
        left: 0;
        top: 0;
      }
    }
  }

  .timeline-circle {
    position: absolute;
    top: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    left: -7px;
  }

  .timeline-date {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    text-transform: capitalize;
    color: var(--clr-text);

    .fa {
      margin-right: 7px;
    }
  }

  .timeline-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--clr-heading);
  }

  .timeline-text {
    font-size: 16px;
    line-height: 25px;
    color: var(--clr-text);
    margin: 0;
  }
}
