/*======= footer =======*/
.footer {
  position: relative;
  padding: 12px 30px;
  background: $colorBackground;
  overflow: hidden;

  @media #{$tiny} {
    padding: 12px;
  }

  .row {
    @media #{$sm} {
      justify-content: center;
      flex-direction: column;
    }

    ul {
      li {
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }

        .social-link {
          display: flex;
          align-items: center;
        }
      }
    }

    .copyright {
      @media #{$sm} {
        margin-top: 6px;
        text-align: center;
      }
    }
  }
}
