/*======= footer =======*/
.footer {
  position: relative;
  padding: 12px 0;
  background: $colorBackground;
  overflow: hidden;

  ul {
    li {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      .social-link {
        display: flex;
        align-items: center;
      }
    }
  }
}
