.footer {
  position: relative;
  padding: 12px 50px;
  background: $colorBackground;
  .row {
    .copyright {
      font-size: 14px;
      .copyright__text {
        text-transform: uppercase;
      }
    }
  }
}
