.home-section {
  position: relative;
  overflow: hidden;
  flex-direction: column;

  .home-top {
    position: absolute;
    padding: 30px 50px 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;

    @media #{$sm} {
      display: none;
    }

    .information {
      a {
        margin: 0;
        color: #fff;
        font-weight: 400;
        font-size: 14px;
        transition: 0.3s;

        &:last-child {
          margin-left: 40px;
        }

        &:hover {
          color: $colorRed;
        }

        &:focus-visible {
          outline: 2px solid $outlineRed;
        }

        svg {
          color: #fff;
          width: 24px;
          height: 24px;
        }
      }
    }

    .language {
      li {
        &.active {
          background: $colorRed;
        }

        &:last-child {
          margin-left: 10px;
        }

        a {
          color: #fff;
          font-size: 14px;
          padding: 5px 8px;
        }
      }
    }
  }

  .introduction {
    .type-text {
      padding: 90px 0 50px 0;

      h6 {
        font-size: 20px;
        font-weight: 400;
        margin: 0 0 12px;

        @media #{$xsm} {
          margin-bottom: 6px;
        }
      }

      h1 {
        font-size: 70px;
        font-weight: 700;
        line-height: 1;
        margin: 0 0 12px;
        text-transform: uppercase;

        @media #{$sm} {
          font-size: 40px;
        }

        @media #{$xsm} {
          margin-bottom: 6px;
        }
      }

      h4 {
        margin-bottom: 12px;
        font-size: 24px;
        font-weight: 500;
        color: $colorRed;

        @media #{$xsm} {
          margin-bottom: 6px;
        }
      }

      .desc {
        color: $colorGray;
        max-width: 450px;

        @media #{$sm} {
          font-size: 14px;
        }
      }

      .home-btn {
        margin-top: 1.5rem;
        display: flex;

        @media #{$xsm} {
          margin-top: 0.75rem;
        }

        @media #{$tiny} {
          flex-direction: column;
        }
      }
    }
  }

  .home-image {
    position: absolute;
    right: 0;
    width: 50vw;
    height: 100%;
    background-size: cover !important;
    top: 0;
    background-repeat: no-repeat !important;
    background-position: 0 0 !important;
    z-index: -1;

    @media #{$lg} {
      width: 84vw;
      opacity: 0.6;
    }

    @media #{$md} {
      opacity: 0.6;
      width: 80vw;
    }

    @media #{$sm} {
      opacity: 0.4;
      width: 102vw;
    }
  }
}
