.service-section {
  .container {
    padding-bottom: 40px;
  }

  .service-items {
    padding: 15px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
    display: flex;

    .service-item {
      width: 100%;
      background-color: var(--bg-light);
      padding: 30px 15px;
      border-radius: 4px;
      text-align: center;
      border-radius: 1px solid var(--border-dark);
      transition: all 0.3s ease;

      .icon {
        width: 60px;
        height: 60px;
        display: block;
        margin: 0 auto 30px;
        text-align: center;
        transition: all 0.3s ease;
        border-radius: 50%;

        .fa {
          font-size: 40px;
          line-height: 60px;
          transition: all 0.3s ease;
        }
      }

      &:hover {
        box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);

        .icon {
          fa {
            font-size: 25px;
            color: $colorWhite;
          }
        }
      }

      h4 {
        font-size: 18px;
        margin-bottom: 15px;
        color: var(--clr-heading);
        font-weight: 700;
        text-transform: capitalize;
      }

      p {
        font-size: 16px;
        color: var(--clr-text);
        line-height: 25px;
        margin: 0;
      }
    }
  }
}
