//Colors
$colorBackground: #0e0e17;
$colorBlack: #000000;
$colorWhite: #ffffff;
$colorRed: #ec1839;
$outlineRed: #ec1839;
$colorGray: hsla(0, 0%, 100%, 0.8);
$colorLightGray: hsla(0, 0%, 100%, 0.1);

// Responsive Variables
$xxl: "(min-width: 1600px)";
$xl: "(max-width: 1599px)";
$lg: "(max-width: 1199px)";
$md: "(max-width: 991px)";
$sm: "(max-width: 767px)";
$xsm: "(max-width: 575px)";
$tiny: "(max-width: 419px)";
